.footer-container {
  @extend %flexContainer;

  // margin-top: 2em;
  border-top: 1px solid rgb(224, 224, 224);
  padding-top: 2em;
}

.footer {
  @extend %widthLimit;
  // @extend %seperatorBefore;

  a {
    font-style: italic;
  }
  
  & > div {
    width: 100%;
    // margin-top: 1em;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 2em;
    }
  }
}
