.header-container {
  @extend %flexContainer;
}

.header {
  @extend %widthLimit;
  @extend %seperatorAfter;

  .hasCover & {
    &:after {
      display: none;
    }
  }
}

.header-info {
  margin-top: 1.5em;

  .title {
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 200;
    // font-style: inherit;
    font-family: $font-family__secondary;
    letter-spacing: 1.2px;
    font-size: 1.5em;
    font-style: italic;
  }

  .subtitle {
    margin: 0.5em 0 0;
    font-style: italic;
  }

  .taxonomy-type {
    @include font-size(0.875);
    margin-right: 0.25em;
    font-style: italic;
  }
}

.page,
.section,
.taxonomy,
.taxonomyTerm {
  .site-header {
    .header-info,
    &:after {
      display: none;
    }
  }
}
