    <footer id='footer' class='footer-container'>
      <div class='footer'>
        <!-- {{ partial "nav/menus/social" . }} -->
        {{ partial "footer/copyright" . }}
      </div>
    </footer>

  </div>

  {{- partial "footer/scripts" . -}}

</body>

</html>
