ol,
ul {
  padding: 0;
  margin: 0 0 1.5em 2em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li {
  font-family: $font-family__secondary;
  font-size: 1.05em;
  font-weight: normal;
}

li > ol,
li > ul {
  padding-left: 1.5em;
  margin-bottom: 0;
  margin-left: 0.5em;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 1.5em 1.5em;
}
