body,
button,
input,
select,
textarea {
  font-family: $font-family__main;
  @include font-size($font-size__main);
  line-height: $line-height__body;
  color: $color__text-main;
  word-wrap: break-word;
  font-weight: 200;
  text-align: justify;
}

@include screen($breakpoint-small) {
  body,
  button,
  input,
  select,
  textarea {
    @include font-size($font-size__main);
  }
}

::selection {
    background: $color__link-hover;
}

// Headings
@import 'headings';

// Copy
@import 'copy';
