.gallery {
  float: none;
}
.gallery .title{
  text-align: center;
  clear:left;
}
.gallery img {
  width: 100%;
  height: auto;
}
.gallery figure {
  margin: 8px;
}
.gallery figcaption {
  display: none;
}
figcaption {
  font-size: 75%;
}