.entry-nav-container {
  @extend %flexContainer;
}

.entry-nav {

  border-top: 1px solid rgb(224, 224, 224);

  padding-bottom: 10px;
  padding-top: 10px;

  @extend %widthLimit;
  // @extend %seperatorBefore;

  // &:before {
  //   border-bottom-color: $color__grey;
  // }

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;

  & > div {
    a {
      display: flex;
      flex-direction: row;
      font-style: italic;
      padding: 4px;
    }

    a:hover, a:active {
      color: black;
      background-color: $color__accent;
    }

    span {
      display: block;
      font-style: normal;
      @include font-size(0.875);
    }

    &.prev-entry a {
      span {
        margin-left: 6px;
      }
    }

    &.next-entry a {
      flex-direction: row-reverse;
      span {
        margin-right: 6px;
      }
    }
  }
}

.prev-entry ~ .next-entry {
  // @extend %seperatorBefore;

  // &:before {
  //   border-bottom-color: $color__grey;
  //   width: 2em;
  //   margin: 1em 0;
  // }
}
